{% extends "layout.html.twig" %}
{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">CDMX</h1>
                            <p>Congreso de Dermacosmética</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Información General</h4>
                    <div class="line-center"></div>
                    <div class="text-justify">
                        <p>
                            La Ciudad de México ha sido y es el corazón del país y la capital histórica y cultural de América; desde su fundación por los Mexicas en 1325, ha sido lugar de encuentro de diversas culturas.
                        </p>
                        <p>
                           Es una de las ciudades más dinámicas y grandes del planeta, así como un conglomerado de cosmogonías culturales legendarias y modernas; es por ello que seduce y fascina a quienes la viven y disfrutan. 
                        </p>
                        <p>
                            La ciudad alberga tanto edificios prehispánicos, testigos de la riqueza de las culturas que se dieron cita en el Valle de México, así como la arquitectura de un enigmático México colonial. Se encuentran entre otros: hoteles, restaurantes, agencias de viaje, museos, galerías y centros de espectáculos. 
                        </p>
                        <p>
                            Entre los principales sitios de interés, se encuentran: Centro Histórico, Museo del Templo Mayor, Basílica de Guadalupe, Parque de Chapultepec, Av. Reforma y Zona Rosa, Palacio de Bellas Artes, Alameda Central, Polanco, Coyoacán, La Colonia Condesa y Roma, San Ángel, Santa Fe, Parque Ecológico Xochimilco, Ciudad Universitaria, Parque Ecológico Loreto y Peña Pobre, Parque del Ajusco, Bosque de Tlalpan, Parque cultural y recreativo Desierto de los Leones, entre otros. 
                        </p>
                        <p>
                            El clima es moderado en invierno, caliente y seco en el mes de abril y mayo; la estación lluviosa comienza en mayo y termina alrededor de octubre y generalmente consiste en mañanas soleadas seguidas por tardes nubladas con lluvia. Las mañanas y las noches pueden ser frías, especialmente en el invierno. Teniendo temperatura promedio de 16°C.
                        </p>
                        <p>
                            El huso horario corresponde a GMT -6 y se modifica durante los meses de verano. La actividad en la Ciudad comienza generalmente a las 5am y se extiende hasta después de las 12pm. La mayoría de centros comerciales y servicios están abiertos de las 9am a 8pm, de lunes a domingo. El servicio de trasporte masivo funciona de las 5am a 12pm, en la mayoría de sus modalidades.
                        </p>
                        <p>
                            Para mayor información, le invitamos a visitar: <a href="http://www.mexicocity.gob.mx" taget="_blank">www.mexicocity.gob.mx</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{asset('images/cdmx001.jpg')}}" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="{{asset('images/cdmx002.jpg')}}" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="{{asset('images/cdmx003.jpg')}}" class="img-responsive">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

