{% extends "layout.html.twig" %}
{% block content %}
    <!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Comité Organizador</h2>
                    <h3 class="section-subheading text-muted">Comité XIX Congreso 2016</h3>
                    <h4>Comité Nacional</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Coordinador General</strong><br>
                    Ing. Luis Felipe Medina  Aguirre</p>
                    <p><strong>Coordinadora del  Programa de Acompañantes</strong><br>
                    Sra. Ivonne Infante de Medina</p>
                    <p><strong>Consejeros/ <em>Counselors</em></strong> <br>
                      Ing. Tomás Iturriaga Hidalgo <br>
                      Lic. Armando Ortega Gómez <br>
                      Ing. Fernando Alanís Ortega <br>
                      Ing. Octavio Alvídrez Ortega <br>
                      Rosalind Wilson </p>
                    <p><strong>Coordinador de Conferencias Magistrales y Foros</strong><br>
                    Ing. Rafael Rebollar González</p>
                    <p><strong>Coordinador de Trabajos Técnicos</strong><br>
                    Dr. Rogelio Monreal Saavedra</p>
                    <p><strong>Coordinador  de Cursos Pre- convención </strong><br>
                    Dr. Alejandro López Valdivieso</p>
                    <p><strong>Coordinador de Foro Educativo</strong><br>
                    M. en C. José de Jesús Huezo Casillas</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Coordinador Operativo<br>
                    </strong>Ing. Jesús Herrera Ortega</p>
                    <p><strong>Comité Deportivo</strong><br>
                    Steve  Armstrong-Pesca<br>
                    Ing. Ricardo  Moreno Trousselle –Golf<br>
                    Lic. Francisco Balandrano Arias-Tenis</p>
                    <p><strong>Muestra Fotográfica</strong><br>
                    Ing. Juan Manuel Pérez Ibargüengoitia<br>
                     <br>
                    <strong>Pabellón Infantil </strong><br>
                    Geol. Elizabeth Araux Sánchez</p>
                    <p><strong>Mesas de Negocios de Proveedores</strong><br>
                    Lic. Cristopher Ávila Mier</p>
                    <p><strong>Coordinadora de Promoción y Relaciones Públicas</strong><br>
                    Lic. Karen Flores  Arredondo</p>
                    <p><strong>Relaciones con Gobierno</strong><br>
                    Ing. José González Córdova</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

