{% extends "layout-new.html.twig" %}
{% block content %}
	<header class="header" data-parallax="{{asset('images/leaves-blue-top-001.png')}}">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h1>Contacto</h1>
                    <p>Congreso de Dermacosmética</p>
                    <p>
                        <a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info btn-round" target="_blank">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!--/#page-breadcrumb-->
	<section id="services">
		<aside>
			<div class="container text-center">
				<h2>Info Contacto</h2>
				<div class="line-center"></div>
			</div>
		</aside>
		<div class="divider-sm"></div>
		<div class="container">
			<div class="row justify-content-center">
	            <div class="col-4 text-center">
                	<h3>Atención a Participantes</h3>
                	<img src="{{asset('images/eventage-logo.png')}}" class="img-responsive img-center">
                	<p>
                		<strong>Betzabét Hernández</strong><br/>
                		<i class="fa fa-phone"></i> 
	                    <abbr title="Teléfono">T</abbr>: +52 (55) 55230628 Ext 106
	                </p>
	                <p>
	                	<i class="fa fa-envelope-o"></i> 
	                    <abbr title="Correo electrónico">E</abbr>: <a href="mailto:grupos2@eventagemexico.com">grupos2@eventagemexico.com</a>
	                </p>
	            </div>
	            <div class="col-4 text-center">
	                <h3>Atención Expositores</h3>
	                <img src="{{asset('images/eventage-logo.png')}}" class="img-responsive img-center">
	                <p>
	                	<strong>Arcelia Fuentes</strong><br/>
	                	<i class="fa fa-phone"></i> 
	                    <abbr title="Teléfono">T</abbr>: +52 (55) 55230628 Ext 105</p>
	                <p>
	                	<i class="fa fa-envelope-o"></i> 
	                    <abbr title="Correo electrónico">E</abbr>: <a href="mailto:expos@eventagemexico.com">expos@eventagemexico.com</a>
	                </p>
            	</div>
        	</div>
		</div>
	</section>
{% endblock %}