{% extends "layout-new.html.twig" %}
{% block content %}
    <header class="header" data-parallax="{{asset('images/squares-top-001.png')}}">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h1>Costos</h1>
                    <p class="fs-20 opacity-70">Congreso de Dermacosmética</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Services Section -->
    <main class="main-content">
        <section class="section">
            <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="table-responsive">
                        <div class="alert alert-info">
                            <h2 class="alert-heading">Próximamente<br />En Construcción</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

