{% extends "layout.html.twig" %}
{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Costos</h1>
                            <p>Congreso de Dermacosmética</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
    <!-- Services Section -->
    <section id="services">
        <div class="container costos">
            <div class="row">
                <div class="col-md-6">
                    <h2>Pre-Congreso</h2>
                    <h3>4 de Octubre</h3>
                    <table class="table table-bordered table-stripped">
                        <tbody>
                            <tr class="info">
                                <th>Nombre</th>
                                <th>Duración</th>
                                <th>Costo</th>
                            </tr>
                            <tr>
                                <td>Voluminización facial y botulínica</td>
                                <td>1 día</td>
                                <td>$2,000 USD +IVA (Incluye beca para Congreso)</td>
                            </tr>
                            <tr>
                                <td colspan="3">Cupo limitado a 50 lugares</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Congreso</h2>
                    <h3>5 al 7 de Octubre</h3>
                    <table class="table table-bordered table-stripped">
                        <tbody>
                            <tr class="info">
                                <th>Nombre</th>
                                <th>Duración</th>
                            </tr>
                            <tr>
                                <td>Hasta el 31 de Agosto</td>
                                <td>$2,000 MXN</td>
                            </tr>
                            <tr>
                                <td>Del 1 al 30 de Septiembre</td>
                                <td>$3,000 MXN</td>
                            </tr>
                            <tr>
                                <td>Inscripción en sitio</td>
                                <td>$4,000 MXN</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Formas de Pago</h2>
                    <h3>Depósito Bancario</h3>
                    <p>
                        <strong>Razón Social:</strong> Global Projects México S de RL de CV<br/>
                        <strong>RFC:</strong> GPM080808IX7<br/>
                        <strong>Banco:</strong> BANORTE<br/>
                        <strong>Número de Cuenta:</strong> 0565996914<br/>
                        <strong>Número de la Sucursal:</strong> 2116<br/>
                        <strong>Clabe Interbancaria:</strong> 072 180 005659969144
                    </p>
                    <h3>Registro en Línea</h3>
                    <p>
                        <a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info" target="_blank">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

