{% extends "layout.html.twig" %}
{% block content %}
	<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Hospedaje</h1>
                            <p>Congreso de Dermacosmética</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
	<!-- Services Section -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="cards">
						<div class="card-image" style="background-image: url({{asset('images/hotel-001.jpg')}})">
						</div>
						<div class="card-content">
							<h3>FIESTA INN NAUCALPAN</h3>
							<table class="table table-condensed">
								<tbody>
									<tr>
										<td>DIRECCION</td>
										<td>Periférico esq. Gustavo Baz53370, Naucalpan, 53370 Naucalpan de Juárez, Méx.</td>
									</tr>
									<tr>
										<td>FECHAS</td>
										<td>5 AL 7 OCT.</td>
									</tr>
									<tr>
										<td>CODIGO</td>
										<td>CONGRESO DERMACOSMETICA </td>
									</tr>
									<tr>
										<td>TARIFA HAB. SENCILLA</td>
										<td>$1,500 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									</tr>
									<tr>
										<td>TARIFA HAB. DOBLE</td>
										<td>$1,500 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									</tr>
									<tr>
										<td>RESERVACIONES HASTA</td>
										<td>28 DE SEPTIEMBRE</td>
									</tr>
									<tr>
										<td>MODO DE RESERVACION</td>
										<td>Tarifa sujeta a disponibilidad.  <br>
										Centros de Reservaciones:<br>
										Ciudad de México 55 5326 69 00<br>
										Interior de la República 01 800 50 450 00 Lada sin Costo</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="cards">
						<div class="card-image" style="background-image: url({{asset('images/hotel-002.jpg')}})">
							</div>
							<div class="card-content">
								<h3>FIESTA AMERICANA TOREO</h3>
								<table class="table table-condensed">
									<tbody>
									    <tr>
											<td>DIRECCION</td>
											<td>Blvrd Manuel Ávila Camacho 5, Lomas de Sotelo, 53390 Naucalpan de Juárez, CDMX</td>
									    </tr>
									    <tr>
											<td>FECHAS</td>
											<td>5 AL 7 OCT..</td>
									    </tr>
									    <tr>
											<td>CODIGO</td>
											<td>CONGRESO DERMACOSMETICA</td>
									    </tr>
									    <tr>
											<td>TARIFA HAB. SENCILLA</td>
											<td>$1,600 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									    </tr>
									    <tr>
											<td>TARIFA HAB. DOBLE</td>
											<td>$1,600 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									    </tr>
									    <tr>
											<td>RESERVACIONES HASTA</td>
											<td>28 DE SEPTIEMBRE</td>
									    </tr>
									    <tr>
											<td>MODO DE RESERVACION</td>
											<td>Tarifa sujeta a disponibilidad.  <br>
											Centros de Reservaciones:<br>
											Ciudad de México 55 5326 69 00<br>
											Interior de la República 01 800 50 450 00 Lada sin Costo Clave G16R6G@FXT</td>
									    </tr>
								  	</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

