{% extends "layout-new.html.twig" %}
{% block content %}
	<header class="header" data-parallax="{{asset('images/leaves-blue-top-001.png')}}">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h1>Hospedaje</h1>
                    <p class="fs-20 opacity-70">Congreso de Dermacosmética</p>
                    <p>
                        <a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info btn-round" target="_blank">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </header>
	<!-- Services Section -->
	<section id="services">
		<div class="container">
			<div class="row gap-y">
				<div class="col-12 col-lg-6">
					<div class="card card-shadowed">
						<img class="card-img-top" src="{{asset('images/hotel-001.jpg')}}" alt="Card image cap">
						<div class="card-block">
							<h3 class="card-title fw-600">FIESTA INN NAUCALPAN</h3>
							<table class="table table-bordered table-sm">
								<tbody>
									<tr>
										<td>DIRECCION</td>
										<td>Periférico esq. Gustavo Baz53370, Naucalpan, 53370 Naucalpan de Juárez, Méx.</td>
									</tr>
									<tr>
										<td>FECHAS</td>
										<td>5 AL 7 OCT.</td>
									</tr>
									<tr>
										<td>CODIGO</td>
										<td>CONGRESO DERMACOSMETICA </td>
									</tr>
									<tr>
										<td>TARIFA HAB. SENCILLA</td>
										<td>$1,500 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									</tr>
									<tr>
										<td>TARIFA HAB. DOBLE</td>
										<td>$1,500 + IMPUESTOS (16% IVA Y 4% ISH)</td>
									</tr>
									<tr>
										<td>RESERVACIONES HASTA</td>
										<td>28 DE SEPTIEMBRE</td>
									</tr>
									<tr>
										<td>MODO DE RESERVACION</td>
										<td>Tarifa sujeta a disponibilidad.  <br>
										Centros de Reservaciones:<br>
										Ciudad de México 55 5326 69 00<br>
										Interior de la República 01 800 50 450 00 Lada sin Costo</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>  
				</div>
				<div class="col-12 col-lg-6">
					<div class="card card-shadowed">
						<img class="card-img-top" src="{{asset('images/hotel-002.jpg')}}" alt="Card image cap">
						<div class="card-block">
							<h3 class="card-title fw-600">FIESTA AMERICANA TOREO</h3>
							<table class="table table-bordered table-sm">
								<tbody>
								    <tr>
										<td>DIRECCION</td>
										<td>Blvrd Manuel Ávila Camacho 5, Lomas de Sotelo, 53390 Naucalpan de Juárez, CDMX</td>
								    </tr>
								    <tr>
										<td>FECHAS</td>
										<td>5 AL 7 OCT..</td>
								    </tr>
								    <tr>
										<td>CODIGO</td>
										<td>CONGRESO DERMACOSMETICA</td>
								    </tr>
								    <tr>
										<td>TARIFA HAB. SENCILLA</td>
										<td>$1,600 + IMPUESTOS (16% IVA Y 4% ISH)</td>
								    </tr>
								    <tr>
										<td>TARIFA HAB. DOBLE</td>
										<td>$1,600 + IMPUESTOS (16% IVA Y 4% ISH)</td>
								    </tr>
								    <tr>
										<td>RESERVACIONES HASTA</td>
										<td>28 DE SEPTIEMBRE</td>
								    </tr>
								    <tr>
										<td>MODO DE RESERVACION</td>
										<td>Tarifa sujeta a disponibilidad.  <br>
										Centros de Reservaciones:<br>
										Ciudad de México 55 5326 69 00<br>
										Interior de la República 01 800 50 450 00 Lada sin Costo Clave G16R6G@FXT</td>
								    </tr>
							  	</tbody>
							</table>
						</div>
					</div>  
				</div>
			</div>
		</div>
	</section>
{% endblock %}

