{% extends "layout.html.twig" %}
{% block content %}
    <!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Ponentes</h2>
                    <div class="line-center"></div>
                    <div class="divider-md"></div>
                    <h3 class="construction">Sección en Construcción, Próximamente</h3>
                </div>
            </div>
        </div>
    </section>
    {{ include('modals.twig.html') }}
{% endblock %}