{% extends "layout-new.html.twig" %}
{% block content %}
	<header class="header" data-parallax="{{asset('images/leaves-blue-top-001.png')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Programa General</h1>
					<p class="fs-20 opacity-70">Congreso de Dermacosmética</p>
					<p>
						<a href="http://dermacosmetica.ahmreg.com/" class="btn btn-info btn-round" target="_blank">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Registrése Ahora
						</a>
					</p>
				</div>
			</div>
		</div>
	</header>
	<main class="main-content">
		<section class="section">
			<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="table-responsive">
						<div class="alert alert-info">
							<h4 class="alert-heading">Programa Descargable!</h4>
							<p>También puede descargar el programa en formato PDF</p>
							<a href="{{asset('pdf/programa-Dermacosmetica.pdf')}}" target="_blank" class="btn btn-outline btn-primary btn-round">Descargar</a>
						</div>
						<table class="table table-striped table-sm table-bordered">
							<tbody>
								<tr class="table-active">
									<td width="120"></td>
									<td><strong>JUEVES 5 DE OCTUBRE</strong></td>
									<td width="280"><strong>Profesor</strong></td>
								</tr>
								<tr>
									<td width="120">08.00-09:00</td>
									<td>Registro e Inscripciones Bienvenida </td>
									<td width="280">Dr. Javier Ruíz</td>
								</tr>
								<tr>
									<td>08:40-08:55 </td>
									<td><strong>SIMPOSIUM DE PELO Y UÑAS</strong><br>
									Alopecia Frontal fibrosante de patrón androgenético</td>
									<td>Dra. Maria Fernanda Gavazzoni<br>
									Brasil</td>
								</tr>
								<tr>
									<td>08:55-09:10</td>
									<td>Micropunción eléctrica en Alopecia Androgenética</td>
									<td>Dr. Luis Enrique Sánchez Dueñas</td>
								</tr>
								<tr>
									<td>09:10:-09:25</td>
									<td>Tratamientos de alisado capilar: Mitos y Realidades</td>
									<td>Dra. Maria Fernanda Gavazzoni</td>
								</tr>
								<tr>
									<td>09:25-09:40</td>
									<td>Tecnología Láser Combinada en Desórdenes Capilares</td>
									<td>Dra. Claudia Marcal</td>
								</tr>
								<tr>
									<td>09:40-09:55</td>
									<td>¿Qué hay de nuevo en Cosméticos Capilares?</td>
									<td>Dra. Maria Fernanda Gavazzoni</td>
								</tr>
								<tr>
									<td>09:55-10:10</td>
									<td>Técnicas de lavado capilar: lo que el dermatólogo debe aconsejar</td>
									<td>Dra. Maria Fernanda Gavazzoni</td>
								</tr>
								<tr>
									<td>10:10-10:40</td>
									<td>Alteraciones cosméticas de las uñas</td>
									<td>Dra. Ingrid López-Gehrke</td>
								</tr>
								<tr>
									<td>10:40-11:00</td>
									<td>RECESO</td>
									<td><br>      </td>
								</tr>
								<tr>
									<td>11:00-11:20</td>
									<td>La piel y sus misterios emocionales</td>
									<td>Dr. Arturo Ruíz Velasco</td>
								</tr>
								<tr>
									<td>11:20-11:35</td>
									<td>Novedades en Láser: Sandwichpeel</td>
									<td>Dr. Ricardo Galván</td>
								</tr>
								<tr>
									<td>11:35-11:50</td>
									<td>Tecnología Erbium: Versatilidad dermatológica vigente</td>
									<td>Dr. Kristian Eichelmann</td>
								</tr>
								<tr>
									<td>11:50-12:05</td>
									<td>Láser de anilinas en Dermatología</td>
									<td>Dr. Osvaldo Vázquez</td>
								</tr>
								<tr>
									<td>12:05-12:25</td>
									<td>Nuevo Protocolo Foto-Fraccional</td>
									<td>Dra. Claudia Marcal<br>
									Brasil</td>
								</tr>
								<tr>
									<td>12:25-12:40</td>
									<td>Aplicaciones del Láser Diodo &ldquo;Más allá de la depilación&rdquo;</td>
									<td>Dra. Martha García</td>
								</tr>
								<tr>
									<td>12:40-12:55</td>
									<td>Complicaciones del tratamiento con LASER</td>
									<td>Dra. Esperanza C. Welsh</td>
								</tr>
								<tr>
									<td>12:55-13:15</td>
									<td>RECESO</td>
									<td><br>      </td>
								</tr>
								<tr>
									<td>13:15-13:30</td>
									<td>Úlceras por presión: De la prevención a la reconstrucción</td>
									<td>Dr. Fernando Guerrero</td>
								</tr>
								<tr>
									<td>13:30-13:45</td>
									<td>Ácido tranexámico en el tratamiento de melasma</td>
									<td>Dr. Uriel Hedding</td>
								</tr>
								<tr>
									<td>13:45-14:00</td>
									<td>Melasma y Láser: ¿Pueden ser amigos?</td>
									<td>Dr. Ricardo Galván</td>
								</tr>
								<tr>
									<td>14:00-14:15</td>
									<td>Ultra Femme 360</td>
									<td>Dr. Suneel Chilukuri<br>
									EUA</td>
								</tr>
								<tr>
									<td>14:15-14:30</td>
									<td>Ciencia detrás de la aplicación de enzimas lipolíticas</td>
									<td>Dr. Juan Ramón Muñoz<br>
									España</td>
								</tr>
								<tr>
									<td>14:30-15:30</td>
									<td>COMIDA</td>
									<td><br>      </td>
								</tr>
								<tr>
									<td>16:00-19:00</td>
									<td><strong>SIMPOSIUM ALLERGAN </strong></td>
									<td><br>      </td>
								</tr>
								<tr>
									<td>16:00-16:40</td>
									<td>Mitos y Realidades</td>
									<td>Dra. Iliana Arreola Jauregui</td>
								</tr>
								<tr>
									<td>16:40-17:00</td>
									<td>Producto Overview</td>
									<td>Dr. Boris Henríquez<br>
									Colombia</td>
								</tr>
								<tr>
									<td>17:00-18:15</td>
									<td>Taller Armonización facial</td>
									<td>Dr. Boris Henríquez<br>
									Colombia</td>
								</tr>
								<tr>
									<td>18:15-19:00</td>
									<td>Paciente difícil: Herramientas preventivas y legales que tenemos que seguir</td>
									<td>Dr. Xavier Tello</td>
								</tr>
							</tbody>
						</table>
						<hr/>
						<table class="table table-striped table-sm table-bordered">
							<tbody>
								<tr class="table-active">
									<td width="120"></td>
									<td><strong>VIERNES 6 DE OCTUBRE</strong></td>
									<td width="280"><strong>Profesor</strong></td>
								</tr>
								<tr>
									<td>08:30-08:50</td>
									<td>Isotretinoína: Experiencia, advertencia, sugerencia y nuevas tendencias</td>
									<td>Dr. David Poletti</td>
								</tr>
								<tr>
									<td>08:50-09:10</td>
									<td>Tecnología en el tratamiento de cicatrices de acné</td>
									<td>Dr. Leobardo Velázquez</td>
								</tr>
								<tr>
									<td>09:10-09:25</td>
									<td>El ginecólogo, el dermatólogo y el acné</td>
									<td>Dra. Ivette Chávez Ginecóloga</td>
								</tr>
								<tr>
									<td>09:25-09:40</td>
									<td>Proteínas de shock térmico</td>
									<td>Dr. Alejandro González Silva</td>
								</tr>
								<tr>
									<td>09:40 -09:55</td>
									<td>Eficacia y seguridad en la aplicación de AAPE en el tratamiento de melasma recalcitrante</td>
									<td>Dra. Rosa María Ponce</td>
								</tr>
								<tr>
									<td>09:55-10:15</td>
									<td>Alternativas para tratar el melasma</td>
									<td>Dr. Gabriel Serrano<br>
									España</td>
								</tr>
								<tr>
									<td>10:15-10:35</td>
									<td>RECESO</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>FILLERS</td>
									<td></td>
								</tr>
								<tr>
									<td>10:35-10:55</td>
									<td>Perfilamiento de mentón y mandíbula con materiales de relleno</td>
									<td>Dr. Ernesto Velazco</td>
								</tr>
								<tr>
									<td>10:55-11:15</td>
									<td>Embellecimiento de labios con ácido hialurónico</td>
									<td>Dr. Daniel Alcalá</td>
								</tr>
								<tr>
									<td>11:15-11:30</td>
									<td>Complicación con ácido hialurónico, Reporte de caso</td>
									<td>Dra. Rosa López</td>
								</tr>
								<tr>
									<td>11:30-11:50</td>
									<td>Hialuronidasa. Una aliada en consultorio</td>
									<td>Dra. Esperanza Welsh</td>
								</tr>
								<tr>
									<td>11:50-12:20</td>
									<td>Sculptra.</td>
									<td>Dr. Krasovsky</td>
								</tr>
								<tr>
									<td>12:20-12:40</td>
									<td>Síndrome de dismorfia corporal y autoestima</td>
									<td>Lic. Silvia Olmedo</td>
								</tr>
								<tr>
									<td>12:40-13:00</td>
									<td>RECESO</td>
									<td></td>
								</tr>
								<tr>
									<td>13:00-13:30</td>
									<td>Voluminización a través de la estimulación de colágeno y redefinición del rostro con suturas de sustentación facial</td>
									<td>Dr. Simón Harker<br>
									Brasil</td>
								</tr>
								<tr>
									<td>13:30-13:45</td>
									<td>Harmony-Pro- &ldquo;Espectro de soluciones dermatológicas&rdquo;</td>
									<td>Dr. Fernando Urdiales<br>
									España</td>
								</tr>
								<tr>
									<td>13:45-14:00</td>
									<td>Eliminación de grasa submentoniana: Nueva alternativa</td>
									<td>Dra. Carla Homez<br>
									Miami</td>
								</tr>
								<tr>
									<td>14:00-14:15</td>
									<td>Sistema Láser Q-Switched de triple modo</td>
									<td>Dr. Fernando Urdiales</td>
								</tr>
								<tr>
									<td>14:15-14:30</td>
									<td>Contorno corporal no invasivo</td>
									<td>Dr. Ale Saade</td>
								</tr>
								<tr>
									<td>14:30-15:30</td>
									<td>BOX LUNCH Nabota: Características y experiencia clínica de una Toxina Botulínica altamente purificada</td>
									<td>Dra. Hema Sundaram<br>
									EUA</td>
								</tr>
								<tr>
									<td>15:45-17:30</td>
									<td>SIMPOSIUM MERZ  AESTHETICS ACADEMY</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Maximizando la práctica clínica a través de nuevos abordajes en el rejuvenecimiento facial</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Rejuvenecimiento en platisma con xeomeen y lifting de ceja con Ultherapy</td>
									<td>Dra. Valeria López<br>
									Argentina</td>
								</tr>
								<tr>
									<td></td>
									<td>Como eficientar 1 jeringa de belotero. Bioestimulación con Radiesse</td>
									<td>Dra. Mónica Restrepo<br>
									Colombia</td>
								</tr>
							</tbody>
						</table>
						<hr/>
						<table class="table table-striped table-sm table-bordered">
							<tbody>
								<tr class="table-active">
									<td width="120"></td>
									<td><strong>Sábado 7 de Octubre</strong></td>
									<td width="280"><strong>Profesor</strong></td>
								</tr>
								<tr>
									<td>09:00-09:20</td>
									<td>Aplicación facial de enzimas tópicas e inyectables </td>
									<td>Dra. Gabriela Campos</td>
								</tr>
								<tr>
									<td>09:20-09:35</td>
									<td>Factores de Crecimiento tópicos</td>
									<td>Dra Susana Sil</td>
								</tr>
								<tr>
									<td>09:35-09:50</td>
									<td>Envejecimiento y salud femenina</td>
									<td>Dr. Gerardo Barroso</td>
								</tr>
								<tr>
									<td>09:50-10:05</td>
									<td>Retinoides: Siempre hay algo de qué hablar</td>
									<td>Dra. Marimar Campos</td>
								</tr>
								<tr>
									<td>10:05-10:30</td>
									<td>Reestructuración facial con enzimas</td>
									<td>Dr. Jair Barrios</td>
								</tr>
								<tr>
									<td>10:30-10:50</td>
									<td>Aplicación de relleno en ojera</td>
									<td>Dr. Harold Dent</td>
								</tr>
								<tr>
									<td>10:50-11:10</td>
									<td>Experiencia con Silhouette en pieles mexicanas</td>
									<td>Dra. Giselle Castellanos</td>
								</tr>
								<tr>
									<td>11:10-11:25</td>
									<td>COFEPRIS</td>
									<td>Dra. Cristina Viruega</td>
								</tr>
								<tr>
									<td>11:25-11:45</td>
									<td>RECESO</td>
									<td></td>
								</tr>
								<tr>
									<td>11:45-12:00</td>
									<td>Conócete y conócelos a través de su escritura</td>
									<td>Marifer Centeno</td>
								</tr>
								<tr>
									<td>12:00-12:20</td>
									<td>Lo nuevo en remodelado corporal: Sistema de Ultrasonido + Radiofrecuencia</td>
									<td>Dr. Fernando Urdiales      España</td>
								</tr>
								<tr>
									<td>12:20-12:40</td>
									<td>Biología celular de los fibroblastos y su papel en la biomedicina</td>
									<td>Dr. Edelmiro Santiago Osorio</td>
								</tr>
								<tr>
									<td>12:40-12:55</td>
									<td>Foto-fraccional: Experiencia en nuestro país</td>
									<td>Dra. Mavi López</td>
								</tr>
								<tr>
									<td>12:55:13:10</td>
									<td>Actualidades en depilación láser: Soprano Platinum</td>
									<td>Dr. Fernando Urdiales España</td>
								</tr>
								<tr>
									<td>13:10-13:30</td>
									<td>Beneficios de suplementos alimenticios en piel</td>
									<td>Dr. Marc St-Onge       Canadá</td>
								</tr>
								<tr>
									<td>13:30-13:45</td>
									<td>Clausura</td>
									<td>Dr. Javier Ruíz</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}