{% extends "layout-new.html.twig" %}
{% block content %}
	<header class="header" data-parallax="{{asset('images/squares-top-001.png')}}">
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h1>Sede</h1>
                    <p class="fs-20 opacity-70">Congreso de Dermacosmética</p>
                    <div class="divider-md">
					</div>
                </div>
            </div>
        </div>
    </header>
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Centro de Convenciones y Exposiciones </h2>
					<div class="line-center"></div>
					<img src="{{asset('images/centro-citibanamex.jpg')}}" class="img-responsive img-center">
					<div class="divider-sm"></div>
					<div class="text-justify">
						<p>
							Es un centro de convenciones y exposiciones de clase mundial ubicado en la Ciudad de México, con una imponente e icónica arquitectura que permite alojar cualquier tipo de evento.
						</p>
						<p>
							El recinto alberga con facilidad una gran sesión plenaria, numerosas sesiones alternas, áreas de exhibición y espaciosas áreas de descanso y alimentos, simultáneamente.
						</p>
						<p>
							Forma parte del Complejo las Américas que reúne una oferta de entretenimiento para todos los gustos y edades con restaurantes, el Hipódromo de las Américas (ícono de la ciudad desde 1943), Granja las Américas (parque temático infantil), Sports Book y Royal Yak (salas de juego), una perfecta combinación entre negocios y entretenimiento.
						</p>
						<p><strong>Historia</strong></p>
						<p>
							Construido en el año 2002 por el arquitecto canadiense Michael Edmonds. Único Centro de Convenciones en el mundo ubicado dentro de un complejo con hipódromo, salas de juegos y un parque infantil.
						</p>
						<p>
							<strong>Eventos</strong>
						</p>
						<p>
							790 eventos al año en promedio, que atraen a más de 2 millones de visitantes.<br>
							Evento más grande: XVII Conferencia Internacional sobre el SIDA 2008 (24,000 delegados).<br>
							Número de stands montados: un promedio anual de 698,406 stands.<br>
							Durante Expo Beauty Show 2012 se estacionaron más de 400 autobuses de pasajeros en el infield de la pista de carreras.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<img src="{{asset('images/recinto-bg.jpg')}}" class="img-responsive img-centered">
				</div>
				<div class="col-lg-4">
					<img src="{{asset('images/recinto-sq.jpg')}}" class="img-responsive img-centered">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="divider-sm"></div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15049.439779753193!2d-99.22409!3d19.4400419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d42bb0157a92f85!2sCentro+Banamex!5e0!3m2!1ses-419!2smx!4v1458029600101" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
{% endblock %}